<!DOCTYPE html>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2 class="title"><%= recipe.title %></h2>
    <% if recipe.chef_name %>
        <h4><%= recipe.chef_name %></h4>
    <% end %>
    <br></br>
      <img class="img-fluid" src="<%= recipe.image %>" alt="<%= recipe.title %>"/>
      <br></br>
      <div class="description"> <%= recipe.description %> </div>
      <br></br>
    <% if recipe.tags %>
      <h4> Tags: </h4>
        <ul>
          <li>
            <% recipe.tags.each do |tag| %>
              <span> <%= tag %></span>
            <% end %>
          </li>
        </ul>
    <% end %>
  </div>
</div>
