<!DOCTYPE html>
<html>
  <body>
    <section>
      <div class="row" style="box-sizing: border-box">
        <div class="col-2" style="width: 40%; align: left">
          <h2 class="title"><%= recipe.title %></h2>

          <% if recipe.chef_name %>
            <h4><%= recipe.chef_name %></h4>
          <% end %>

          <img class="img-fluid" src="<%= recipe.image %>" alt="<%= recipe.title %>"/>

          <p class="description"><%= recipe.description %></p>

          <% if recipe.tags %>
            Tags:
            <ul>
              <li>
                <% recipe.tags.each do |tag| %>
                  <span> <%= tag %></span>
                <% end %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </section>
  </body>
</html>
